/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

/* colors */
.light-on-dark-skin {
  background: navy;
  color: yellow;
}
.dark-on-light-skin {
  background: lightgoldenrodyellow;
  color: navy;
}

/* navigation */
.nav {
  padding: 20px 20%;
}
.nav a {
  text-decoration: none;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 2em;
}
/* alignment */
.center-content {
  padding: 0 20%;
}
.center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.no-right-margin {
  margin-right: 0;
}
/* sections */
.panel {
  height: 75vh;
  padding: 10% 20%;
  font-size: 2em;
}
